 body{
margin: 0;
padding: 0;
font-family: montserrat;
background: linear-gradient(120deg, #C25100, #eee024);
height: 100vh;
overflow: hidden;

 }

button{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}


p{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

a{
    color: #2691d9;
    text-decoration: none;
}

 a: :hover{
    text-decoration: underline;
}

.center{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 400px;
background: white;
border-radius: 10px;

 }

.center h1{
    text-align: center;
    padding: 0 0 20px;
    box-sizing: border-box;
}

form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .label{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.label input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY();
    font-size: 16px;
    pointer-events: none;
}

.txt_field span::before{ 
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100px;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.txt_field input: :focus~label,
.txt_field input:valid~label{
    top: -5px;
    color: #2691d9;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before{
    width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: #adadad;
    cursor: pointer;
}

.pass: hover{
    text-decoration: underline;
}


input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}

