body{
    padding: 0px;
    margin-left: 300px;
    background-color: #f7e68b;

}

form{
    display: table;
}

div{
    display: table-row;
    margin-bottom: 10px;
}


label {

    padding-right: 10px;
}


fieldset{
    margin-top: 70px;
    width: 57%;
    background-color: #a88113;
    box-shadow: 5px 5px 20px 10px rgb(85, 85, 85);
    padding-left: 100px;
    padding-right: 100px;
    border: 20px;
    border-radius: 10px 10px 10px 10px;
    color: white;
    height: 800px;

}

h3{
    font-family: andalus;
    letter-spacing: 3px;
    text-align: 3px;
    color: white
}

hr{
    border: 5px solid white;
    border-radius: 10px;
    width: 40%;

}

ul li{margin-left: 20px; color: white;}

#submit{
    margin: 20px 35px;
    color:#318CE7;
    background-color: white;
    width:80%;
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid white;
}