body
{
    background-color: rgb(218, 176, 136); 
}

h1 a, h2 a { 
    color: rgb(128, 105, 0);
}

h1 {
  font-style: normal; 
  font-weight: 700; 
  font-family: 'Didot', serif;
  text-align: center;
  padding: 10px 50px 10px 0px; 
  background-color: rgb(233, 217, 198);
  

}

#searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
  }

  input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  /* When the input field gets focus,
       change its width to 100% */
  input[type=text]:focus {
    width: 70%;
  }


  