<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <!--<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>-->
</head>
<body>

<form method="POST" class="post-form" action="/crr/">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label> 
    <div class="col-sm-4">
    <h3>Enter Details</h3>
    </div>
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label">Numéro:</label>
  <div class="col-sm-4">
      {{ form.num }}

   <div class="form-group row">
   <label class="col-sm-2 col-form-label">Date:</label>
   <div class="col-sm-4">
    {{ form.date }}

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Date d'émission:</label>
    <div class="col-sm-4">
    {{ form.date_emission }}

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Référence:</label>
    <div class="col-sm-4">
    {{ form.reference }}

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Origine:</label>
        <div class="col-sm-4">
         {{ form.origine }}

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Objet:</label>
    <div class="col-sm-4">
         {{ form.objet }}

    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Bureau:</label>
     <div class="col-sm-4">
        {{ form.bureau }}

  </div>
  </div>
  
  <div class="form-group row">
  <label class="col-sm-1 col-form-label"></label>
  <div class="col-sm-4">
      <button type="submit" class="btn btn-primary">Enregistrer</button>
  </div>
  </div>
  </div>
    </form>  
</body>

</html>