<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
</head>
    <!--
<div class = "card card-body">
    <hr>
<h1 style="text-align: center; padding: 10px ">{{ordre_count}}</h1>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>--> 

   

<body>
 
    <li style="display: inline-block; padding: 10px 20px;">
        <a href="/crr/">Enregistrer un courrier</a>
        </li>


<form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}" >
   <input class="form-control mr-sm-2" type="search" name="search">
   <button class="btn btn btn-outline-info my-2 my-sm-0" type="submit"> Search </button>
</form>
 

    <table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Numéro</th>
        <th>Date</th>
        <th>Date d'émission</th>
        <th>Reference</th>
        <th>Origine</th>
        <th>Objet</th>
        <th>Bureau</th>
    </tr>
    </thead>
    <tbody>
    {% for Courrier in courriers %}
    <tr>
        <td>{{ Courrier.num }}</td>
        <td>{{ Courrier.date }}</td>
        <td>{{ Courrier.date_emission }}</td>
        <td>{{ Courrier.reference }}</td>
        <td>{{ Courrier.origine }}</td>
        <td>{{ Courrier.objet }}</td>
        <td>{{ Courrier.bureau }}</td>
        <td>
            <!--<a href="/edit/{{ Courrier.id }}"><span class= "btn btn-success">Modifier</span></a>-->
            <a class = 'btn btn-success' href="{% url 'modifier' Courrier.id %}">Modifier</a>
            <a href="/delete/{{Courrier.id }}" class="btn btn-danger">Supprimer</a>
        </td>
        </tr>
    </tbody>
    {% endfor %}
    </table>
</body>
</html> 